<%# form_with(model: entry, local: true) do |form| %>
<%= simple_form_for entry, local: true do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :clocked_in %>
    <%= form.datetime_select :clocked_in, ampm: true, order: [:month, :day, :year] %>
    <%#form.text_field :clocked_in, class: 'form-control datepicker' %>
  </div>

  <div class="field">
    <%= form.label :clocked_out %>
    <%= form.datetime_select :clocked_out, ampm: true, order: [:month, :day, :year]  %>
  </div>

  <div>
    <% @user = [] %>
    <% User.all.each do |u|
        @user.push([u.full_name(u.id),u.id])
       end
    %>
    <%= form.input :user_id, collection: @user %>
  </div>

  <div>
    <% @task = [] %>
    <% Task.all.each do |t|
        @task.push([t.task_name,t.id])
      end
      %>
    <%= form.input :task_id, collection: @task %>

    <%= link_to 'New Task', new_task_path %>
  </div>
<p>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
