<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>Clocked in</th>
      <th>Clocked out</th>
      <th>User_ID</th>
      <th>Task_ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
         <td><%= entry.clocked_in %></td>
         <td><%= entry.clocked_out %></td>
	       <td><%= User.find_by_id(entry.user_id).first_name %> <%= User.find_by_id(entry.user_id).last_name %></td>
	       <td><%= Task.find_by_id(entry.task_id).task_name %></td>

         <td><%= link_to 'Show', entry %></td>
         <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
         <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
