<%# form_with(model: task, local: true) do |form| %>
<%= simple_form_for task, local: true do |form| %>
  <%= form.error_notification %>

  <div class="field">
       <%# @task_name_lov = Lov.where("tbl LIKE ?", "tasks").where("col LIKE ?", "task_name").all.map { |r| [r.val, r.id] } %>
       <%= @task_name_lov = Lov.where("tbl LIKE ?", "tasks").where("col LIKE ?", "task_name").all.map { |r| r.val } %>

       <%= form.input :task_name, collection: @task_name_lov %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
