<%= form_with(model: lov, local: true) do |form| %>
  <% if lov.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lov.errors.count, "error") %> prohibited this lov from being saved:</h2>

      <ul>
        <% lov.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tbl %>
    <%= form.text_field :tbl %>
  </div>

  <div class="field">
    <%= form.label :col %>
    <%= form.text_field :col %>
  </div>

  <div>
    <%= form.label :val %>
    <%= form.text_field :val %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
