<p id="notice"><%= notice %></p>

<h1>Lovs</h1>

<table>
  <thead>
    <tr>
      <th>Tbl</th>
      <th>Col</th>
      <th>Val</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lovs.each do |lov| %>
      <tr>
        <td><%= lov.tbl %></td>
        <td><%= lov.col %></td>
	      <td><%= lov.val %></td>
        <td><%= link_to 'Show', lov %></td>
        <td><%= link_to 'Edit', edit_lov_path(lov) %></td>
        <td><%= link_to 'Destroy', lov, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lov', new_lov_path %>
