<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @lov.table %>
</p>

<p>
  <strong>Column:</strong>
  <%= @lov.column %>
</p>

<%= link_to 'Edit', edit_lov_path(@lov) %> |
<%= link_to 'Back', lovs_path %>
