<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @lov.tbl %>
</p>

<p>
  <strong>Column:</strong>
  <%= @lov.col %>
</p>

<%= link_to 'Edit', edit_lov_path(@lov) %> |
<%= link_to 'Back', lovs_path %>
